<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>list phone</h1>

<a href="/list-phone">Back to Phone List</a>
<br/>
<a href="/list-category">back to category list</a>
<br/>
<h2> <a href="/create-phone">create new phone</a></h2>
<h1>Phone</h1>

<form>
    Search name phone
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>pirce</th>
        <th>Description</th>
        <th>category</th>
        <th>Edit</th>
        <th>delete</th>
    </tr>
    <th:block th:each="phone : ${phones}">
        <tr>
            <td th:text="${phone.phoneName}"></td>
            <td th:text="${phone.dateOfPurchase}"></td>
            <td th:text="${phone.phone_price}"></td>
            <td th:text="${phone.description}"></td>
            <td th:text="${phone.category.catergory_name}"></td>
            <td><a th:href="@{/edit-phone/__${phone.phone_id}__}">Edit</a></td>
            <td><a th:href="@{/delete-phone/__${phone.phone_id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>

<div>
    <a th:href="@{'/list-phone'(page=${phones.number -1})}" th:if="${phones.hasPrevious()}">Previous</a>
    <span th:text="${phones.number +1}"></span>/<span th:text="${phones.totalPages}"></span>
    <a th:href="@{'/list-phone'(page=${phones.number +1})}" th:if="${phones.hasNext()}">Next</a>
</div>
</body>
</html>